
#content{
  display: flex;
  align-items: stretch;
  font-family: Montserrat;
}


#image{
    width: 50%;
    height: auto;
    margin-left: auto;
    padding-left: auto;
}

span{
  padding: auto;
  margin: auto;
}

 .indexLinks:link{
   color: blue;
   text-decoration none:
 }

 .indexLinks:visited{
   color: purple;
   text-decoration: none;
 }

 #resume{
   font-family: Montserrat;
 }

 #includedHeader{
   margin-top: 5px;
   margin-bottom: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
 }

 #navbar{
   text-align: center;
   list-style: none;
 }

 #navbar li{
   text-align: center;
   display: inline-block;
   padding-left: auto;
   padding-right: auto;
 }



 #includedFooter{
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   margin-top: 10px;
   margin-bottom: 3px;
   padding-top: 5px;
   padding-bottom: 2px;
   text-align: center;
   color: #black;
   font-family: Montserrat;
   font-size: x-small;
 }
